.header {
  position: fixed;
  top: 1rem;
  left: 0; // Cambiado de 1rem a 0 para que el width: 100% y el padding funcionen bien
  z-index: 10000000;

  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  column-gap: 20px;
  row-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;
  
  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  // 1. Empieza en la columna 1 (por defecto, pero explícito es mejor)
  &__identity {
    grid-column: 1 / span 3; // Ocupa de la 1 hasta la 3
  }

  // 2. Empieza en la columna 4
  &__role {
    grid-column: 4 / span 4; // Empieza en la 4 y le damos un ancho de 4 columnas

    @media (max-width: 768px) {
      grid-column: 4 / span 5;
    }

    &__job, &__available {
      margin: 0; // Limpia márgenes por defecto de los <p>
    }
  }

  // 3. Ubicado en la última columna (12)
  &__location {
    grid-column: 9 / 13; // Ocupa desde la 9 hasta la línea 13 (final de la col 12)
    text-align: right;
    display: flex;
    flex-direction: column;
  }
}