
.navigation {
  position: fixed;
  z-index: 10000000;
  bottom: 1rem;
  left: 1rem;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  width: calc(100% - 2rem);
  padding: 0;
  pointer-events: none;

  @media (max-width: 768px) {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 10px;
    width: calc(100% - 1rem);
    left: 0.5rem;
    bottom: 0.5rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    pointer-events: auto;

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    pointer-events: auto;

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.75rem;
    }

    &__item {
      &__copyright {
        opacity: 0.45;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}