
.navigation {
  position: fixed;
  z-index: 10000000;
  bottom: 1rem;
  left: 1rem;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  width: calc(100% - 2rem);
  padding: 0;
  pointer-events: none;

  @media (max-width: 768px) {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 10px;
    width: calc(100% - 1rem);
    left: 0.5rem;
    bottom: 0.5rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    pointer-events: auto;

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    pointer-events: auto;

    @media (max-width: 768px) {
      flex-direction: row;
      gap: 1rem;
    }

    &__btn {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      display: flex;
      align-items: center;
      opacity: 0.45;
      transition: opacity 0.3s ease;
      gap: 0.5rem;

      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    pointer-events: auto;

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.75rem;
    }

    &__item {
      &__copyright {
        opacity: 0.45;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.link {
  color: var(--background);
  opacity: 0.45;
  transition: opacity 0.3s ease;
  
  &__active {
    opacity: 1;
    
  }
  
  &:hover {
    opacity: 1;
  }
}